@model seriesWebClient.Models.Serie

@{
    ViewData["Title"] = "DetallesSerie";
}

<h1>DetallesSerie</h1>

<div>
    <h4>Serie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdSerie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdSerie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imagen)
        </dt>
        <dd class = "col-sm-10">
            <img src="@Model.Imagen" style="height:150px" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Puntuacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Puntuacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Anyo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Anyo)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Editar", "ModSerie", new { idserie = @Model.IdSerie }) |
    <a asp-action="Index">Lista de Series</a>
</div>
