@model IEnumerable<seriesWebClient.Models.Personaje>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="InsPersonaje">Añadir personaje</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdPersonaje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdSerie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdPersonaje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                <img src="@item.Imagen" style="height:150px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdSerie)
            </td>
            <td>
                @Html.ActionLink("Editar", "ModPersonaje", new { idpersonaje = item.IdPersonaje }) |
                @Html.ActionLink("Detalles", "DetallesPersonaje", new { idpersonaje = item.IdPersonaje }) |
                @Html.ActionLink("Borrar", "DelPersonaje", new { idpersonaje = item })
            </td>
        </tr>
}
    </tbody>
</table>
